<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-pbsm-other-guanliantuijian</id>
    <name>旺铺关联推荐</name>
    <thumbnail>http://img02.taobaocdn.com/tps/i2/T1XFRLXn4mXXXXXXXX-50-50.png</thumbnail>
    <description>[提示：请为系统模块{旺铺关联推荐}添加描述信息]</description>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
</module>
