<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-pbsm-shop-custom-banner</id>
    <name>店铺招牌</name>
    <thumbnail>http://img04.taobaocdn.com/tps/i4/T1P7IKXgVbXXcj5F6l-64-64.gif</thumbnail>
    <description>[提示：请为系统模块{店铺招牌}添加描述信息]</description>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
</module>
