<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-ms11</id>
    <uuid>2b0eeefabd1a4105816c8ba74f10712c</uuid>
    <name>广告位</name>
    <file>tshop-um-ms11.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>广告位</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="全屏海报">
            <section title="全屏海报" folded="false">
                <param description="输入海报的显示高度,例如:549" formType="text" label="海报高度" name="qg" ptype="text"></param>
                <param description="输入轮播海报的大图,宽度为950,多张以英文输入下#号隔开,数量不限" formType="textarea" label="海报图片" name="qh" ptype="textarea"></param>
                <param description="输入海报图链接,多个以英文输入下#号隔开,注意对应关系" formType="textarea" label="海报链接" name="ql" ptype="textarea"></param>
            </section>
        </group>
        <group title="动画设置">
            <section title="" folded="false">
                <param description="" formType="range" label="图片滚动方向" name="effect" ptype="text" readonly="false">
                    <option value="scrollx" selected="selected">★水平滚动</option>
                    <option value="fade">☆渐变</option>
			  </param>
                <param description="" formType="select" label="图片滚动效果" name="easing" ptype="text" readonly="false">
                    <option value="easeBothStrong">★弹性效果</option>
                    <option value="easeInStrong">☆先慢后快（强）</option>
                    <option value="easeOutStrong">★先快后慢（强）</option>
                    <option value="elasticIn">☆抖动变幻</option>
                    <option value="elasticOut" selected="selected">★变换抖动</option>
                    <option value="backIn">☆起步跑</option>
                    <option value="backOut">★跑过头返回</option>
                    <option value="bounceIn">☆弹跳变幻</option>
                    <option value="bounceOut">★变幻弹跳</option>
                    <option value="bounceIn">☆弹跳变幻</option>
                    <option
                        value="bounceBoth">★抖动弹跳</option>
                    <option value="easeIn">☆先慢后快（弱）</option>
                    <option value="easeOut">★先快后慢（弱）</option>
                    <option value="easeBoth">☆普通滚动</option>
                    <option value="easeNone">★匀速滚动</option>
			  	</param>
                <param description="单位：秒，例如0.5、2。数值越大时间越长" formType="text" label="图片停留时间" name="interval" ptype="text" readonly="false">3</param>
                <param description="单位：秒，例如0.5、2。数值越大速度越慢" formType="text" label="图片切换速度" name="duration" ptype="text" readonly="false">1</param>
            </section>
        </group>
    </parameters>
</module>
