<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-pbsm-shop-main-slide</id>
    <name>图片轮播</name>
    <thumbnail>http://img03.taobaocdn.com/tps/i3/T11.MEXa0fXXcj5F6l-64-64.gif</thumbnail>
    <description>[提示：请为系统模块{图片轮播}添加描述信息]</description>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
</module>
