#content {
	background-color:#0072C6 ;
	background-image:url(assets/images/Blue-bdbg.gif) ;
	background-repeat:repeat ;
	background-position:top left ;
}

#hd {
	background-color:#0072C6 ;
	background-image:url(assets/images/blue-hdbg.png) ;
	background-repeat:repeat-x ;
	background-position:top left ;
	margin-bottom:0px;
}

.skin-box .skin-box-hd {
	border-width:0px;
	border-style:solid;
	background-color:#0072C6;
	height:30px;
	line-height:30px;
}

.skin-box .skin-box-hd h3 span {
	color:#FFF;
	font-weight:normal;
	font-size:14px;
	font-family:Microsoft YaHei;
}

.skin-box .skin-box-bd {
	border-width:0px;
	border-style:solid;
}
