#content {
	background-color:#eaeaea;
	background-image:url(assets/images/bdbg.png) ;
	background-repeat:repeat-x ;
	background-position:top left ;
}

#hd {
	background-color:transparent ;
	background-image:url(assets/images/hdbg.png) ;
	background-repeat:repeat-x ;
	background-position:top left ;
}

.skin-box .skin-box-hd {
	border-width:0px 0px 1px 0px;
	border-color:#E0E0E0;
	border-style:solid;
	
	background-image:url(assets/images/skinhd.png) ;
	background-position:top left;
	background-repeat:no-repeat;
	height:45px;
	line-height:45px;
}

.skin-box .skin-box-hd h3 span {
	color:#FFF;
	font-weight:normal;
	font-size:18px;
	font-family:Microsoft YaHei;
	margin-left:40px;
}

.skin-box .skin-box-bd {
	border-width:0px;
	border-style:solid;
}
