/**
 * 模块：tshop-um-neo-accordionlr 
 * 皮肤（主题）: default
 * 规则:
 * 		1. CSS选择器必须以 ".tshop-um-neo-accordionlr" 或者 "#page #content .tshop-um-neo-accordionlr" 开头，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */


.tshop-um-neo-accordionlr .neo-accordion{ width:950px; height:362px; line-height:1.2; font-family:微软雅黑; overflow:hidden;}
.tshop-um-neo-accordionlr .neo-accordion .neo-trigger{width:40px;height:362px;  background-color:#EBEBEB; border-right:1px solid #ccc; padding-top:5px; padding-bottom:5px; float:left;}
.tshop-um-neo-accordionlr .neo-accordion .neo-trigger a{ color:#030303; display: inline-block; width:12px; word-wrap:break-word; padding-left:14px; }
.tshop-um-neo-accordionlr .neo-accordion .neo-trigger.neo-active{ background-color:#000;}
.tshop-um-neo-accordionlr .neo-accordion .neo-trigger.neo-active a{ color:#FFF;}
.tshop-um-neo-accordionlr .neo-accordion .neo-panel{ width:663px; height:352px; background-color:#000; color:#fff; text-align:center;float:left; padding-top:5px; padding-bottom:5px;  }
.tshop-um-neo-accordionlr .neo-accordion .neo-panel img{ width:310px;  }
.tshop-um-neo-accordionlr .neo-accordion .neo-trigger .listnumber{ color:#F00; display: inline-block; width:40px; text-align:center; font-size:14px; line-height:1.5; }
.tshop-um-neo-accordionlr .neo-accordion .neo-trigger.neo-active .listnumber{ color:#fff; font-weight:bold;}

 
