#content {
	background-color:#ededed;
}

#hd {
	background-image:url(http://img04.taobaocdn.com/imgextra/i4/1776456424/T2FbtnXqNaXXXXXXXX_!!1776456424.jpg) ;
	background-repeat:no-repeat;
	background-position: center 110px;
	background-color:#fff;
	margin-bottom:0px;
}