/**
 * 模块：tshop-um-ms03 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-ms03"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-ms03 {margin:0}
.tshop-um-ms03 { width:990px; margin-bottom:10px;  background-color:#fff;}
 
.tshop-um-ms03 .dds { width:990px; overflow:visible; position:relative;}
.tshop-um-ms03 .dds .mall-content { width:990px; position:absolute; left:0; top:0; overflow:hidden; background:#fff;}
.tshop-um-ms03 .dds .mall-content li { display:block; width:990px; float:left; position:relative;} 
.tshop-um-ms03 .dds .mall-content li .pic{ display:block; width:990px;} 
.tshop-um-ms03 .dds .mall-content li .gd { display:block; width:217px; height:72px; position:absolute; right:0; bottom:0; background:url(assets/images/gd.gif) no-repeat center center;}
.tshop-um-ms03 .dds .ks-switchable-nav { display:block; width:990px;height:141px; padding-top:5px; position:absolute; left:0; bottom:0;}
.tshop-um-ms03 .dds .ks-switchable-nav li { display:block; float:left; cursor:pointer; width:236px; height:118px; margin-right:10px; padding:21px 2px 2px 2px; background:none;}  
.tshop-um-ms03 .dds .ks-switchable-nav li a { display:block; width:236px; height:118px; background-color:#fff;}
.tshop-um-ms03 .dds .ks-switchable-nav li.ks-active  { background:url(assets/images/ks.png) no-repeat center center;}


 

 
