/**
 * 模块：tshop-um-neo-labsa 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-neo-labsa"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */



 
.tshop-um-neo-labsa {
	color: black;
}
.tshop-um-neo-labsa .neo-title{ height:144px; background-image:url(assets/images/titlebgbg.png); position:relative;}
.tshop-um-neo-labsa .neo-title .neo-title-a{ position:absolute; left:53px; top:35px; font-size:36px; color:#fff; font-family:宋体; line-height:1.1;}
.tshop-um-neo-labsa .neo-title .neo-title-b{position:absolute; left:53px; top:75px; font-size:20px; color:#fff;font-family:宋体;line-height:1.1;}
.tshop-um-neo-labsa .neo-title .neo-title-c{position:absolute; left:232px; top:53px; font-size:18px; color:#fff;font-family:宋体;line-height:1.1;}

.tshop-um-neo-labsa img{ display:block;}
.tshop-um-neo-labsa .list-box {
	border: 3px solid #7e5a46;
	padding: 12px 7px;
	background-color: #4c3529;
	height:auto;
}
.tshop-um-neo-labsa .list-box ul,.tshop-um-neo-labsa .list-box ul li{ border:none; padding:0; margin:0;

}
.tshop-um-neo-labsa .list-box ul:after {
		content: '\20';
	display: block;
	height: 0;
	clear: both;
}
.tshop-um-neo-labsa .list-box ul li {
	width: 310px;
	height: 410px;
	float: left;
}
.tshop-um-neo-labsa .list-box ul li .item {
	width: 300px;
	height: 400px;
	padding: 5px;
		transition-property: margin-top;
	transition-duration: 0.5s;
}

.tshop-um-neo-labsa .list-box ul li .item:hover {
	margin-top: -3px;
	position: absolute;
	box-shadow: 0px 0px 5px #000000;
}

.tshop-um-neo-labsa .list-box ul .item .neo-item{ width:300px; height:400px; background-color:#fff;}
.tshop-um-neo-labsa .list-box ul .item .neo-item .neo-item-300pic{ width:300px; height:300px;}
.tshop-um-neo-labsa .list-box ul .item .neo-item .neo-item-desc{ width:280px; padding:10px; position:relative;}
.tshop-um-neo-labsa .list-box ul .item .neo-item .addcollect{ width:73px; height:74px; position:absolute; top:10px; right:10px;}
.tshop-um-neo-labsa .list-box ul .item .neo-item .neo-item-title{ padding-top:15px; padding-left:10px; height:30px; width:180px; overflow:hidden;}
.tshop-um-neo-labsa .list-box ul .item .neo-item .neo-item-title a{ font-size:16px; font-family:宋体;color:#4c3529; line-height:30px; font-family:宋体;}

.tshop-um-neo-labsa .list-box ul .item .neo-item .neo-discountprice{ padding-left:10px; color:#5d4a41; font-size:14px; }
.tshop-um-neo-labsa .list-box ul .item .neo-item .neo-discountprice span{ color:#ff0000; font-family:宋体; font-size:14px;}