#content {
	background-color:#FFF4E0 ;
}

#hd {
	background-image:url(assets/images/hdbg.png) ;
	background-repeat:repeat-x ;
	background-position:top left ;
	margin-bottom:0px;
}

.skin-box .skin-box-hd {
	border-width:0px;
	border-style:solid;
}

.skin-box .skin-box-bd {
	border-width:0px;
	border-style:solid;
}
