<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-neo-labsb</id>
    <uuid>d5e278d2bf764150a07139225bd4eb67</uuid>
    <name>神秘模块二</name>
    <file>tshop-um-neo-labsb.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>神秘模块二</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>950</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
</module>
