<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-pbsm-other-guanliantuijian</id>
    <name>旺铺关联推荐</name>
    <thumbnail>http://img02.taobaocdn.com/tps/i2/T1XFRLXn4mXXXXXXXX-50-50.png</thumbnail>
    <description xsi:type="xs:string" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">[提示：请为系统模块{旺铺关联推荐}添加描述信息]</description>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="red">
            <css>assets/stylesheets/red.css</css>
        </theme>
        <theme name="Blue">
            <css>assets/stylesheets/Blue.css</css>
        </theme>
    </themes>
</module>
