/**
 * 模块：tshop-um-leftsliderightcats 
 * 皮肤（主题）: 紫色系
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-leftsliderightcats"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-leftsliderightcats { width:950px; height:240px; background-color:#fff;}
.tshop-um-leftsliderightcats .neo-leftslide{ width:640px; height:240px; float:left; overflow:hidden;}
.tshop-um-leftsliderightcats .neo-rightcats{ width:310px;  height:240px; float:left; overflow:hidden;}

.tshop-um-leftsliderightcats .neo-leftslide .neoslide{ width:640px; height:240px; position:relative; overflow:hidden;}
.tshop-um-leftsliderightcats .neo-leftslide .neoslide .neo-content{height:240px;}
.tshop-um-leftsliderightcats .neo-leftslide .neoslide .neo-content li{ width:640px; height:240px;}
.tshop-um-leftsliderightcats .neo-leftslide .neoslide .neo-nav{ position:absolute; height:8px; bottom:15px; right:30px;}
.tshop-um-leftsliderightcats .neo-leftslide .neoslide .neo-nav li{ width:8px; height:8px; float:left; background-color:#eaeaea; margin-left:10px; border-radius:3px;-webkit-border-radius:3px; -moz-border-radius:3px;}
.tshop-um-leftsliderightcats .neo-leftslide .neoslide .neo-nav li.neo-active{ background-color:#cc66ff;}

.tshop-um-leftsliderightcats .neo-rightcats .neo-rightcats-content{ padding-left:10px;}
.tshop-um-leftsliderightcats .neo-rightcats .neo-rightcats-title{ height:30px; line-height:30px;}
.tshop-um-leftsliderightcats .neo-rightcats .neo-title{ font-size:14px; font-weight:bold; color:#666;}
.tshop-um-leftsliderightcats .neo-rightcats .neo-act{ font-size:12px; float:right; color:#999999;}


.tshop-um-leftsliderightcats .neo-rightcats .catlv1lv2{ padding-bottom:7px; height:25px; overflow:hidden;}
.tshop-um-leftsliderightcats .neo-rightcats a{ color:#666; padding-left:5px; padding-right:5px; font-size:12px; line-height:25px;}
.tshop-um-leftsliderightcats .neo-rightcats a.catlv1{ display:inline-block; background-color:#ffdce7; color:#ff6699; border-radius:3px;-webkit-border-radius:3px; -moz-border-radius:3px;}
 
