/**
 * 模块：tshop-um-topnewbottomcats 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-topnewbottomcats"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-topnewbottomcats { height:auto; background-color:#fff;}
.tshop-um-topnewbottomcats h2{ height:40px; line-height:40px; font-size:16px; font-weight:normal; font-family:微软雅黑; color:#444444; padding:0px; margin:0px; margin-top:5px; padding-left:15px;}
.tshop-um-topnewbottomcats h2 a{ font-size:20px; color:#ff70a7;}
.tshop-um-topnewbottomcats h2 a.new_tip{ font-size:12px; margin-left:5px; margin-top:0px; height:24px; display:inline-block; vertical-align:top; margin-top:5px;}
.tshop-um-topnewbottomcats h2 a.new_tip em{background-image: url(assets/images/new_tip.png);height: 24px;line-height: 22px;padding-left: 16px; font-weight: normal; float:left; background-repeat:no-repeat;}
.tshop-um-topnewbottomcats h2 a.new_tip i{background-image: url(assets/images/new_tip.png);width: 10px;height: 21px;display: block;
float: left; background-position:right top;}

.tshop-um-topnewbottomcats .goods_list{ width:100%; height:170px; padding-bottom:15px;}
.tshop-um-topnewbottomcats .goods_list li{ width:150px; height:170px; float: left; overflow:hidden; position:relative; padding-left:3px; }
.tshop-um-topnewbottomcats .goods_list li a{ display:inline-block; width:150px; height:170px; position:relative; overflow:hidden;}
.tshop-um-topnewbottomcats .goods_list li img{ width:170px; margin-left:-10px;}
.tshop-um-topnewbottomcats .goods_list li:hover{-webkit-box-shadow:0px 0px 2px 2px #ff70a7;
-moz-box-shadow:0px 0px 2px 2px #ff70a7;
box-shadow:0px 0px 2px 2px #ff70a7;}
.tshop-um-topnewbottomcats .goods_list li .item-title{ position:absolute; bottom:0px; width:150px; height:27px; text-align:center; background-color:rgba(255,255,255,0.7);}
.tshop-um-topnewbottomcats .goods_list li .item-title a{ font-size:14px; color:#ff70a7; font-weight:bold;}
.tshop-um-topnewbottomcats .bottom-cats-hidden{ display:none;}
.tshop-um-topnewbottomcats .bottom-cats{ width:100%; height:40px; padding-bottom:15px; overflow:hidden;}
.tshop-um-topnewbottomcats .bottom-cats .neo-lv1cats{ height:40px; width: auto; display:inline-block; background-color:#f6faea;  text-align:center;border-radius:3px;-webkit-border-radius:3px; -moz-border-radius:3px; float:left;}
.tshop-um-topnewbottomcats .bottom-cats .neo-lv1cats a{ padding-left:5px; padding-right:5px; color:#70a700; line-height:40px; font-size:14px; font-weight:bold;}
.tshop-um-topnewbottomcats .bottom-cats .neo-lv2cats{ height:40px;display:inline-block; padding-left:5px;float:left;}
.tshop-um-topnewbottomcats .bottom-cats .neo-lv2cats a{ line-height:40px; font-size:12px; color:#555555; padding-left:3px; padding-right:3px;}