/**
 * 模块：tshop-um-neo-itemlist 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-neo-itemlist"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */



 
.tshop-um-neo-itemlist {
	color: black;
	line-height: 1.5;
	width: 948px;
	overflow: hidden;
	padding-left: 1px;
	padding-right: 1px;
}
.tshop-um-neo-itemlist .neo-hd-title {
	width: 950px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-family: 微软雅黑;
	background-color: #d6b7a3;
	font-weight: bold;
	text-indent: 15px;
	color: #93605d;
}
.tshop-um-neo-itemlist img {
	display: block;
}
.tshop-um-neo-itemlist .neo-bd {
	width: 950px;
	background-color: #fff;
	padding-bottom: 0px;
}
.tshop-um-neo-itemlist .neo-bd:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li {
	width: 237px;
	height:362px;
	float: left;
	background-color: #fff;
	position:relative;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item {
	width: 235px;
	height: 360px;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 2px solid #fff;
	background-color: #f2f2f2;
	transition-property:margin-top;
	transition-duration: 1s;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item:hover{margin-top:-10px;position:absolute;}

.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-pic {
	width: 235px;
	float: left;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-pic img {
	width: 235px;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc {
	width: 225px;
	padding: 10px 10px 10px 10px;
	float: left;
	position: relative;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc .neo-item-title {
	height: 40px;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc .neo-discountprice {
	font-family: 宋体;
	font-size: 14px;
	line-height: 25px;
	color: #ff8b7f;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc .neo-price {
	font-family: 宋体;
	font-size: 14px;
	color: #999;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc .neo-soldCount {
	color: #ab7d69;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc .neo-soldCount span {
	color: #ff8b7f;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc .neo-fav a {
	font-family: 宋体;
	font-size: 12px;
	color: #999999;
	padding-left: 15px;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc .neo-item-title a {
	font-family: 宋体;
	font-size: 12px;
	color: #999999;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc .neo-addcart {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 50px;
	right: 15px;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc .neo-addcart a {
	display: block;
	width: 55px;
	height: 55px;
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc .neo-addcart a img {
	opacity:1;
	transition-property:opacity;
	transition-property:margin-top;
	transition-duration: 1s;
	
}
.tshop-um-neo-itemlist .neo-bd .itemlist li .neo-item-desc .neo-addcart a img:hover {
	opacity: 0.7;
	margin-top:-10px;
}
