<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-xianshitejia</id>
    <uuid>460ade934c634c1fac600af5fe88bac0</uuid>
    <name>限时特价</name>
    <file>tshop-um-xianshitejia.php</file>
    <thumbnail>assets/images/default-thumbnail.png</thumbnail>
    <description>限时特价板块，可选多个商品</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="备用">
            <css>assets/stylesheets/another.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="选择要展示的宝贝">
            <section title="注意：宝贝折扣价格为现价，原价为参考价" folded="false">
                <param description="可选择多个宝贝，最好为偶数个" formType="itemForm" label="选择宝贝" name="neo-items" ptype="item" readonly="false"/>
            </section>
        </group>
    </parameters>
</module>
