/**
 * 模块：tshop-um-fullscreen 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-fullscreen"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-fullscreen { position:relative; }

.tshop-um-fullscreen .fullscreen-content{ position:relative;  width:1920px; left:-485px; background-color:#F96;}
.tshop-um-fullscreen .fullscreen-content:after {
content: '\20';
display: block;
height: 0;
clear: both;
}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou{
position:relative;
margin-top:0px;
margin-left:0px;

overflow:visible;

}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel{
position:relative;
z-index:0;
border:none;
}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-content{
	width:5760px;
	



}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-content li{
	width:1920px;

	float: left;
overflow: hidden;



}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-content li a{
display: block;
font-size: 0;
}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-nav{
width:330px;
position: absolute;
bottom:5px;
left:40%;
z-index:99;
}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-nav li{
width:100px;
padding:5px;

float:left;


overflow:hidden;
cursor:pointer;
}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-nav li img{ width:100px;opacity:0.7;-webkit-box-shadow:0px 0px 3px 3px #999;
-moz-box-shadow:0px 0px 3px 3px #999;
box-shadow:0px 0px 3px 3px #999;}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-nav li.neo-active img{
-webkit-box-shadow:0px 0px 5px 3px #CCC;
-moz-box-shadow:0px 0px 5px 3px #CCC;
box-shadow:0px 0px 5px 3px #CCC;
opacity:1;

}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-prev{
position: absolute;
background-color:transparent;
text-indent:-100px;
width:53px;
height:62px;
display:block;
background-image:url(assets/images/prenext.png);
background-repeat:no-repeat;
top:250px;

left:400px;
cursor:pointer;
z-index:10;
}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-prev:hover{
background-position:-54px 0px;
}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-next{
position:absolute;
background-color:transparent;
text-indent:-100px;
width:53px;
height:62px;
display:block;
background-image:url(assets/images/prenext.png);
background-position:0px -63px;
background-repeat:no-repeat;
top:250px;
right:400px;
cursor:pointer;
z-index:10;
}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-next:hover{
background-position:-54px -64px;
}
.tshop-um-fullscreen .fullscreen-content .neo-fullcarou .neo-carousel .neo-disable{
color:#CCC;
cursor:default;
}

 
