/**
 * 模块：tshop-um-fourmidlist 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-fourmidlist"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */


.tshop-um-fourmidlist { height:auto; background-color:#fff; padding-top:10px; padding-bottom:5px;}
.tshop-um-fourmidlist span{ color:#ff688e; font-family:宋体; font-size:12px;}
.tshop-um-fourmidlist .itemlist{ width:950px; height:385px; padding:0; border:none; margin:0;}
.tshop-um-fourmidlist .itemlist li{width:230px; height:385px;padding:0; border:none; margin:0; list-style:none; padding-right:10px; float:left;}
.tshop-um-fourmidlist .itemlist li.last-item{ padding-right:0px;}
.tshop-um-fourmidlist .itemlist li .itemimg img{ width:230px; height:310px; }
.tshop-um-fourmidlist .itemlist .detail{ height:70px; border-bottom:1px dotted #ccc; background-image:url(assets/images/detaildes.png); background-position:left; background-repeat:no-repeat;}
.tshop-um-fourmidlist .itemlist .detail .item-price{ height:19px; padding-top:5px; text-align: center;}
.tshop-um-fourmidlist .itemlist .detail .item-price em{ color:#F09; font-weight:bold;}
.tshop-um-fourmidlist .itemlist .detail .item-price span{ font-size:16px; font-family:Arial; padding-left:3px;}
.tshop-um-fourmidlist .itemlist .detail .item-title{ padding-top:5px; padding-left:60px;}

.tshop-um-fourmidlist .itemlist .share-it{ text-align:center; padding-top:10px; padding-left:25px;}
.tshop-um-fourmidlist .itemlist .share-it span{ float:left; line-height:16px; padding-left:2px; padding-right:2px;}

.tshop-um-fourmidlist .itemlist .share-it .sns-widget{ width:170px; height:16px; background-image:url(http://img03.taobaocdn.com/imgextra/i3/297619552/T29sj9XdpXXXXXXXXX-297619552.png); background-repeat:no-repeat;}

 
