/**
 * 模块：tshop-pbsm-shop-item-cates 
 * 皮肤（主题）: red
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-pbsm-shop-item-cates"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-pbsm-shop-item-cates { background-color:#ac193d; }

.tshop-pbsm-shop-item-cates .skin-box-hd {height:30px; line-height:30px;  background-color:#ac193d; background-image:none;}
.tshop-pbsm-shop-item-cates .skin-box-hd h3 span{ font-size:18px; font-weight:bold; font-family:微软雅黑; padding-left:10px; color:#fff;}

 
.tshop-pbsm-shop-item-cates .cats-tree .fst-cat-name{ color:#ac193d;}
.tshop-pbsm-shop-item-cates .cats-tree .snd-cat-name{color:#ac193d;}
.tshop-pbsm-shop-item-cates .cats-tree .cat-name:hover{ color:#ff0066;}