/**
 * 模块：tshop-um-neo-listfloor 
 * 皮肤（主题）: Blue
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-um-neo-listfloor"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-um-neo-listfloor { background-color:#fff;}
.tshop-um-neo-listfloor .neo-hd{ height:30px; line-height:30px;  background-color:#0072c6; margin-bottom:5px;}
.tshop-um-neo-listfloor .neo-hd .neo-hd-title{ font-size:18px; font-weight:bold; font-family:微软雅黑; padding-left:10px; padding-right:220px; color:#fff;}
.tshop-um-neo-listfloor .neo-hd a{ color:#fff; padding-right:20px;}
.tshop-um-neo-listfloor .neo-bd:after{ content: '\20'; display: block; height: 0; clear: both; }
.tshop-um-neo-listfloor .neo-bd .left-banner-show{ width:280px;height:548px; padding-right:10px; float:left; overflow:hidden; }
.tshop-um-neo-listfloor .neo-bd .left-banner-hidden{ display:none;}
.tshop-um-neo-listfloor .neo-bd .right-items{ width:660px; height:548px; float:left;}
.tshop-um-neo-listfloor .neo-bd .right-items-full{ width:950px; height:auto;}

.tshop-um-neo-listfloor .neo-bd .right-items ul li{ width:214px; padding-left:3px; padding-right:3px; float:left;}
.tshop-um-neo-listfloor .neo-bd .right-items-full ul li{ width:214px; padding-left:10px; padding-right:10px; float:left;}
.tshop-um-neo-listfloor .neo-bd .right-items ul li .right-item-pic{width:214px; height:214px;}
.tshop-um-neo-listfloor .neo-bd .right-items ul li .right-item-pic img{ width:214px; height:214px;}
.tshop-um-neo-listfloor .neo-bd .right-items ul li .right-item-title{ width:214px; height:30px; font-size:12px; line-height:30px; overflow:hidden; }
.tshop-um-neo-listfloor .neo-bd .right-items ul li .right-item-title a{ color:#333;}
.tshop-um-neo-listfloor .neo-bd .right-items ul li .item-more{ height:20px; line-height:20px; padding-bottom:10px; font-family:微软雅黑;}

.tshop-um-neo-listfloor .neo-bd .right-items ul li .item-more .item-more-sns{ float:right;}


.tshop-um-neo-listfloor .neo-bd .neo-570pic{width:280px; height:548px; overflow:hidden;}
.tshop-um-neo-listfloor .neo-bd .neo-570pic a{ display:block; position:relative;width:280px; height:548px; overflow:hidden;}
.tshop-um-neo-listfloor .neo-bd .neo-570pic a img{margin-left:-145px;}


 
