<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-showtheway</id>
    <uuid>69cc23db6ea34b169d12c43381ee7f20</uuid>
    <name>贴片导航</name>
    <file>tshop-um-showtheway.php</file>
    <thumbnail>../../assets/images/default-thumbnail.png</thumbnail>
    <description>贴片导航</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>990</supportedWidth>
    <themes default="默认">
        <theme name="默认">
            <css>assets/stylesheets/default.css</css>
        </theme>
    </themes>
	<parameters>
        <param label="图片链接" formType="text" readonly="false" description="图片-1的地址，图片571*174" ptype="url" name="showtheway_img_1">assets/images/theway_02_02_01.png</param>
        <param label="目标链接" formType="text" readonly="false" description="图片-1的目标链接" ptype="url" name="showtheway_link_1">http://viviange.taobao.com/</param>
        <param label="图片链接" formType="text" readonly="false" description="图片-2的地址，图片357*368" ptype="url" name="showtheway_img_2">assets/images/theway_02_04.png</param>
        <param label="目标链接" formType="text" readonly="false" description="图片-2的目标链接" ptype="url" name="showtheway_link_2">http://viviange.taobao.com/</param>
        <param label="图片链接" formType="text" readonly="false" description="图片-3的地址，图片278*181" ptype="url" name="showtheway_img_3">assets/images/theway_02_02_03_01.png</param>
        <param label="目标链接" formType="text" readonly="false" description="图片-3的目标链接" ptype="url" name="showtheway_link_3">http://viviange.taobao.com/</param>
        <param label="图片链接" formType="text" readonly="false" description="图片-4的地址，图片281*181" ptype="url" name="showtheway_img_4">assets/images/theway_02_02_03_03.png</param>
        <param label="目标链接" formType="text" readonly="false" description="图片-4的目标链接" ptype="url" name="showtheway_link_4">http://viviange.taobao.com/</param>
    </parameters>
</module>
