#content {
	background-color:#000 ;
	background-image:url(assets/images/default-bdbg.png) ;
	background-repeat:repeat ;
	background-position:top left ;
}

#hd {
	background-color:#EBEBEB ;
	background-image:url(assets/images/default-hdbg.png) ;
	background-repeat:repeat-x ;
	background-position:top left ;
	margin-bottom:0px;
}

.skin-box .skin-box-hd {
	border-width:0px;
	border-style:solid;
	background-color:#EBEBEB;
	height:30px;
	line-height:30px;
}

.skin-box .skin-box-hd h3 span {
	color:#000000;
	font-weight:normal;
	font-size:14px;
	font-family:Microsoft YaHei;
}

.skin-box .skin-box-bd {
	border-width:0px;
	border-style:solid;
}
