/**
 * 模块：tshop-pbsm-shop-srch-list 
 * 皮肤（主题）: 默认
 * 规则:
 * 		1. CSS选择器必须包含 ".tshop-pbsm-shop-srch-list"，禁止使用模块页面元素的ID选择器
 *		2. CSS样式声明的position属性值不能使用:fixed
 *		3. CSS样式文件中z-index属性值必须在1-99之间
 *		4. CSS URL地址必须是淘宝URL白名单中或者本地（相对或绝对）URL 
 */

.tshop-pbsm-shop-srch-list {height:auto}

.tshop-pbsm-shop-srch-list .item3line1 .item{ border:none; margin-right:8px;}
.tshop-pbsm-shop-srch-list .skin-box-bd .item3line1 .item .photo{ border:none;}
.tshop-pbsm-shop-srch-list .skin-box-bd .item3line1 .item .detail{ font-family:微软雅黑; font-size:14px; color:#FFF; background-color:#484445; width:242px;}
.tshop-pbsm-shop-srch-list .grid .item3line1 .item .detail a.item-name{ font-family:微软雅黑; font-size:14px; color:#FFF;}
.tshop-pbsm-shop-srch-list .skin-box-bd .item3line1 .item .detail:hover{ background-color:#2a2a2a;}
.tshop-pbsm-shop-srch-list .grid .item3line1 .item .detail .attribute .cprice-area .symbol{ color:#f40;}
.tshop-pbsm-shop-srch-list .grid .item3line1 .item .detail .attribute .sale-area{font-family:微软雅黑; font-size:14px; color:#FFF; color:#FFF}

/*750宽度一行4个独立样式*/
.tshop-pbsm-shop-srch-list .item4line1 .item{ border:none; margin-right:6px;}
.tshop-pbsm-shop-srch-list .skin-box-bd .item4line1 .item .photo{ border:none;}
.tshop-pbsm-shop-srch-list .skin-box-bd .item4line1 .item .detail{font-family:微软雅黑; font-size:14px; color:#FFF; background-color:#484445; width:182px; height:84px; background-image:none;}
.tshop-pbsm-shop-srch-list .grid .item4line1 .item .detail a.item-name{ font-family:微软雅黑; font-size:14px; color:#FFF;}
.tshop-pbsm-shop-srch-list .skin-box-bd .item4line1 .item .detail:hover{ background-color:#2a2a2a;}
.tshop-pbsm-shop-srch-list .grid .item4line1 .item .detail .attribute .cprice-area .symbol{ color:#f40;}
.tshop-pbsm-shop-srch-list .grid .item4line1 .item .detail .attribute .sale-area{font-family:微软雅黑; font-size:14px; color:#FFF; color:#FFF}
/*750宽度一行无缝3个独立样式*/
.tshop-pbsm-shop-srch-list .item30line1 .item{ border:none;}
.tshop-pbsm-shop-srch-list .skin-box-bd .item30line1 .item .photo{ border:none;}
.tshop-pbsm-shop-srch-list .skin-box-bd .item30line1 .item .detail{ font-family:微软雅黑; font-size:14px; color:#FFF; background-color:#484445; width:250px; height:84px; background-image:none;}
.tshop-pbsm-shop-srch-list .grid .item30line1 .item .detail a.item-name{ font-family:微软雅黑; font-size:14px; color:#FFF;}
.tshop-pbsm-shop-srch-list .skin-box-bd .item30line1 .item .detail:hover{ background-color:#2a2a2a;}
.tshop-pbsm-shop-srch-list .grid .item30line1 .item .detail .attribute .cprice-area .symbol{ color:#f40;}

.tshop-pbsm-shop-srch-list .grid .item30line1 .item .detail .attribute .sale-area{font-family:微软雅黑; font-size:14px; color:#FFF; color:#FFF}