<?xml version="1.0" encoding="GBK"?>
<module>
    <id>tshop-um-neo-smallwaterfall</id>
    <name>小瀑布流展示</name>
    <file>tshop-um-neo-smallwaterfall.php</file>
    <thumbnail>assets/images/neo.jpg</thumbnail>
    <description>小瀑布流展示</description>
    <requiredCache>true</requiredCache>
    <supportedWidth>950</supportedWidth>
    <themes default="default">
        <theme name="default">
            <css>assets/stylesheets/default.css</css>
        </theme>
        <theme name="red">
            <css>assets/stylesheets/red.css</css>
        </theme>
        <theme name="Blue">
            <css>assets/stylesheets/Blue.css</css>
        </theme>
    </themes>
    <parameters>
        <group title="小瀑布流展示">
            <section folded="false" title="给每列选择宝贝即可，建议选择8款以上，注意保持队形">
                <param readonly="false" ptype="item" name="rowoneitems" label="选择第1列宝贝" formType="itemForm" description="选择第1列宝贝"></param>
                <param readonly="false" ptype="item" name="rowtwoitems" label="选择第2列宝贝" formType="itemForm" description="选择第2列宝贝"></param>
                <param readonly="false" ptype="item" name="rowthreeitems" label="选择第3列宝贝" formType="itemForm" description="选择第3列宝贝"></param>
                <param readonly="false" ptype="item" name="rowfouritems" label="选择第4列宝贝" formType="itemForm" description="选择第4列宝贝"></param>
                <param readonly="false" ptype="item" name="rowfiveitems" label="选择第5列宝贝" formType="itemForm" description="选择第5列宝贝"></param>
            </section>
        </group>
    </parameters>
</module>
